- if user_signed_in?

  - if review.errors.any?
    #error_explanation
      %h2= "#{pluralize(review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - review.errors.full_messages.each do |msg|
          %li= msg
= link_to 'Back', category_products_path, class: "btn btn-primary"
%p
%br/
